<!--   Core JS Files   -->
<script src="./assets/scripts/core/bootstrap.min.js" type="text/javascript"></script>
<script src="./assets/scripts/core/popper.min.js" type="text/javascript"></script>
<script src="./assets/scripts/plugins/perfect-scrollbar.min.js"></script>
<script src="./assets/scripts/plugins/parallax.min.js"></script>
<script src="./assets/scripts/soft-design-system.min.js"></script>