<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
<!-- Nucleo Icons -->
<link href="./assets/styles/nucleo-icons.css" rel="stylesheet"/>
<link href="./assets/styles/nucleo-svg.css" rel="stylesheet"/>
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<link href="./assets/styles/nucleo-svg.css" rel="stylesheet"/>