---
layout: base
title: Home
---

<header class="header-2">
  <div class="page-header min-vh-75" style="background-image: url('./assets/img/curved-images/curved.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Soft UI Design System</h1>
          <p class="lead text-white mt-3">Free & Open Source Web UI Kit built over Bootstrap 5. <br/> Join over 1.4
              million developers around the world. </p>
        </div>
      </div>
    </div>
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"/>
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"/>
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"/>
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"/>
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"/>
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"/>
        </g>
      </svg>
    </div>
  </div>
</header>

<section class="pt-3 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
        <div class="row">
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary">
                <span id="state1" countTo="70">0</span>+</h1>
              <h5 class="mt-3">Coded Elements</h5>
              <p class="text-sm">From buttons, to inputs, navbars, alerts or cards, you are covered</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary">
                <span id="state2" countTo="15">0</span>+</h1>
              <h5 class="mt-3">Design Blocks</h5>
              <p class="text-sm">Mix the sections, change the colors and unleash your creativity</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary" id="state3" countTo="4">0</h1>
              <h5 class="mt-3">Pages</h5>
              <p class="text-sm">Save 3-4 weeks of work when you use our pre-made pages for your website</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>