---
pagination:
  data: prismicData.blogposts
  size: 1
  alias: post
  addAllPagesToCollection: true
layout: base.njk
permalink: "/blog/{{ post.uid | slug }}/"
templateEngineOverride: md, njk
eleventyComputed:
  title: "{{ post.data.title | prismicText }}"
---

{% include "navbar-transparent.njk" %}

<header class="bg-gradient-dark">
  <div class="page-header min-vh-50" style="background-image: url({{post.data.article_image.url}})">
    <span class="mask bg-gradient-info opacity-8"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-white mt-8">{{post.data.title | prismicText}}</h1>
          <p class="lead mt-4 mb-8 text-white opacity-8 fs-6">
            <span>{{ post.data.date | prismicDate | postDate }}</span> |
            <span>{{ post.data.body | prismicHtml | readingTime }} Read Time</span>
          </p>
        </div>
      </div>
    </div>
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"/>
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"/>
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"/>
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"/>
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"/>
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1"/>
        </g>
      </svg>
    </div>
  </div>
</header>

<main class="container mt-8 mb-8" style="max-width: 60rem;">
  <article class="blog blog__content">{{ post.data.body | prismicHtml | safe }}</article>
</main>

{% include "footer-dark.njk" %}