<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>
            {{ meta.title }}  - {{ title }} | AppSeed
        </title>
        <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    </head>
    <body>
        <main>
            {{ content | safe }}
        </main>
        <script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script>
        <script type="text/javascript">
            if ('serviceWorker' in navigator) {
                navigator
                    .serviceWorker
                    .register('/serviceworker.js')
            }
        </script>

    </body>
</html>