<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {{ meta.title }}  - {{ title }} | AppSeed
        </title>

        {# Import Fonts and Icons #}
        {% include 'fonts-and-icons-imports.njk' %}

        {# Import Custom CSS #}
        <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
        {# Import Soft UI  Design CSS #}
        <link id="pagestyle" href="./assets/styles/soft-design-system.css?v=1.0.5" rel="stylesheet"/>
    </head>
    <body>
        <main>
            {{ content | safe }}
        </main>

        {# Import Core JS Dependencies #}
        {% include 'core-js-imports.njk' %}

        {# Import Custom JS #}
        <script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script>
        <script type="text/javascript">
            if ('serviceWorker' in navigator) {
                navigator
                    .serviceWorker
                    .register('/serviceworker.js')
            }
        </script>
    </body>
</html>